---
export const prerender = false;

import { Image, Picture } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import PublicLayout from "@/layouts/PublicLayout.astro";

import BenefitCard from "@/components/BenefitCard.astro";
import TestimonialCard from "@/components/TestimonialCard.astro";

import HeroImage from "@/assets/buildings1.png";
import ValuePropositionImage from "@/assets/buildings2.png";
import HowItWorksImage from "@/assets/buildings3.png";
import Paulina from "@/assets/paulina.jpg";

const url = new URL(Astro.request.url);
const search = url.search;

const testimonials = [
  {
    quote:
      "Where do I begin ? By chance I found Paulina from a posting on Facebook and she exceeded my expectations. She worked day in and day out (literally because I was looking for something super specific!) until she found the perfect unit for me. She was super supportive, very personable, and just a lovely professional individual. I am so happy I was able to work with her and I highly recommend her. She will literally consider everything on your wishlist and find a perfect spot.",
    author: "Samantha Ingunza",
    avatar:
      "https://lh3.googleusercontent.com/a/ACg8ocKq-4LR-FAdwTxE0qi2WNkjRbAQ_GglV1XLVe_eDnMz32STIA=w36-h36-p-rp-mo-ba2-br100",
    href: "https://maps.app.goo.gl/tG6rN8BDdVAastUr8",
  },
  {
    quote:
      "Tuve el placer de trabajar con Paulina y su servicio fue excepcional. Vivía en otro estado, y gracias a su profesionalismo, todo el proceso de búsqueda de apartamentos y mudanza fue mucho más sencillo. Escuchó atentamente mis necesidades y me ofreció opciones perfectas, gestionando todo de manera eficiente. Su comunicación fue constante y clara, lo que me dio mucha confianza. Gracias a ella, mi mudanza fue mucho más ligera y sin complicaciones. La recomiendo sin dudarlo a cualquiera que necesite un excelente servicio inmobiliario.",
    author: "Nicole",
    avatar:
      "https://lh3.googleusercontent.com/a/ACg8ocJImPkZLdugQ6koarA3YMXkEgTvPOqNB-Fq63mwr2oKS8k70Q=w36-h36-p-rp-mo-br100",
    href: "https://maps.app.goo.gl/ekiiUtSg5WkJXFBP7",
  },
  {
    quote:
      "Wow! Literally im speechless by the work Paulina did for me. I did everything from afar and she made me feel like I was present showed me apartments through facetime until i found the one. I would recommend her with my eyes closed. One of the best client services I have experienced!! Thank you so much for making my moving so smooth!!",
    author: "Gloria Barraza",
    avatar:
      "https://lh3.googleusercontent.com/a-/ALV-UjVcinOPXd2_j_OgzRiCtYuJzEVn6MgH0bsm9zKi-0JHrc4qgMfo=w36-h36-p-rp-mo-br100",
    href: "https://maps.app.goo.gl/1NkZaf8YRJU7BzJh6",
  },
  {
    quote:
      "Paulina was amazing to work with — professional, knowledgeable, and always responsive. Her bilingual skills made communication seamless, and she truly went above and beyond to help us find the perfect apartment. Highly recommend!",
    author: "Miguel Rosa",
    avatar:
      "https://lh3.googleusercontent.com/a/ACg8ocKOwC4G_bWyF2hPXqYNeN3r0dWeZZM19F4lvNNqkcizh5Mxn8Gz=w36-h36-p-rp-mo-br100",
    href: "https://share.google/JV7Z4N4bTdiC0JpOO",
  },
  {
    quote:
      "Working with Paulina was a five star experience. She was able to streamline the entire process and take the stress out of securing an apartment. Planning a move from California to Miami required a lot of coordination and open communication, Paulina was there at every point providing advice and her sharing her expertise. If you are looking for an experienced professional who goes above and beyond and puts her clients first, I highly recommend working with Paulina!",
    author: "Margarita Monge",
    avatar:
      "https://lh3.googleusercontent.com/a/ACg8ocJeoyFMdkE7ZCt9lSf2oKA6VI2l37LjascUr5YlYKcqQ2NE=w36-h36-p-rp-mo-br100",
    href: "https://maps.app.goo.gl/vjsFUyN3DzdUXatM8",
  },
  {
    quote:
      "I would give Paulina 20 stars if I could! She has been nothing short of spectacular. My husband and our family just relocated from another state and Paulina held our hands the entire way. Early on in the process before the move was confirmed she took our information and what we were looking for, keeping an eye out for what would fit. Answering 101 questions without even knowing if we would be moving forsure. She made sure that we were aware of everything we needed when the time came to secure an apartment, ready and prepared. She had multiple options ready for us when we confirmed we would be relocating. Offered pictures, videos tours, special pricing for that month, and had every detail we wanted to consider accounted for. She assisted day of move in, checked in multiple times afterwards and was genuinely just such a joy to work with. You can tell she loves what she does and  it felt like she was also moving with us with how excited and supportive she was. We love our new spot it fits everything we wanted and not a drop of sweat or stress happened because of Paulina. If for some reason we ever have to relocate we will absolutely be reaching out again. If you’re looking for someone to be detail oriented, responsive, knowledgeable, and truly just be in your corner- Call Paulina!",
    author: "Allison Soto",
    avatar:
      "https://lh3.googleusercontent.com/a-/ALV-UjXztWag4-5mLNNY4L_ei4Atzl_xGv4AdfwZM2YAaAP-SYnpOTfn=w36-h36-p-rp-mo-br100",
    href: "https://maps.app.goo.gl/86kTs5jqQzQ8xr4F7",
  },
];
---

<Layout>
  <PublicLayout>
    <section class="relative w-full min-h-screen flex items-center">
      <div class="absolute inset-0 z-0">
        <div
          class="absolute inset-0 bg-gradient-to-b from-black/80 via-obsidian/60 to-black/80"
        >
        </div>
        <Image
          src={HeroImage}
          alt="Hero"
          loading="eager"
          class="w-full h-full object-cover"
        />
      </div>

      <div
        class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-20 flex justify-center"
      >
        <div class="max-w-6xl">
          <h1
            class="text-5xl md:text-5xl lg:text-7xl font-bold text-soft leading-tight mb-4 text-center max-w-4xl"
          >
            Find Your Perfect Miami <strong class="text-primary">Home</strong>
            in Minutes
          </h1>
          <p
            class="text-xl md:text-2xl text-soft/90 mb-8 text-center max-w-3xl mx-auto"
          >
            Tell us your vision and budget, we’ll handle the rest.
          </p>
          <div class="text-center">
            <a
              href={`/more-info${search}`}
              class="inline-block px-8 py-4 bg-primary hover:bg-primary/90 text-white font-bold rounded-lg transition-all duration-300 transform hover:scale-105 uppercase"
              data-astro-prefetch="load"
            >
              FIND ME A PLACE
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Value proposition -->
    <section
      id="benefits"
      class="relative w-full py-20 flex items-center min-h-screen"
    >
      <div class="absolute inset-0 z-0">
        <div
          class="absolute inset-0 bg-gradient-to-b from-soft-dark/90 via-soft/70 to-soft-dark/90"
        >
        </div>
        <Image
          src={ValuePropositionImage}
          alt="Value Proposition Background"
          loading="eager"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="container mx-auto px-4 sm:px-6 lg:px-8 relative z-20">
        <div class="text-center mb-16 space-y-8">
          <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold">
            Tired of Endless Miami Rental Searches?
          </h2>
          <p class="text-lg text-mocha max-w-4xl mx-auto">
            Stop wasting hours scrolling. Tell us what you want and we’ll match
            you with the right place.
          </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          <BenefitCard
            icon="mdi:brain"
            title="Smart Matching"
            description="We don’t show you random listings. Our system matches you with apartments that actually fit your style, budget, and needs. Saving you time and frustration."
          />

          <BenefitCard
            icon="mdi:view-dashboard"
            title="Your Personal Apartment Portal"
            description="Get your own private portal where you can view options, save favorites, leave notes, and track everything in one place."
          />

          <BenefitCard
            icon="mdi:clock-fast"
            title="Fast, Real Results"
            description="No waiting weeks. No endless back and forth. Get quality options sent to you quickly so you can move forward with confidence."
          />

          <BenefitCard
            icon="mdi:shield-lock"
            title="Secure & Private Process"
            description="Your information is protected and never shared. We respect your privacy and treat your search with care."
          />

          <BenefitCard
            icon="mdi:account-star"
            title="Real Human Experts by Your Side"
            description="You’re not doing this alone. See us as your Miami rental bestie ready to guide you, answer your questions, and advocate for you every step of the way. "
          />

          <BenefitCard
            icon="mdi:video"
            title="Tour Your Way"
            description="In-person tours, virtual tours, or a mix of both. You choose what works best for your schedule."
          />
        </div>
      </div>
    </section>

    <!-- How It Works -->
    <section
      class="relative w-full py-20 min-h-screen flex justify-center items-center"
    >
      <div class="absolute inset-0 z-0">
        <div
          class="absolute inset-0 bg-gradient-to-b from-black/80 via-obsidian/60 to-black/80"
        >
        </div>
        <Image
          src={HowItWorksImage}
          alt="How It Works Background"
          loading="lazy"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="h-full container mx-auto px-4 sm:px-6 lg:px-8 relative z-20">
        <div class="text-center mb-16">
          <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-soft mb-4">
            Here's How It Works
          </h2>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-8">
          <BenefitCard
            icon="mdi:document"
            title="1. Share your preferences"
            description="Complete our quick form with your ideal area, budget, and move-in date."
          />

          <BenefitCard
            icon="mdi:lightning-bolt"
            title="2. Get Matched Options"
            description="Our smart matching system finds your perfect rentals from our exclusive network."
          />

          <BenefitCard
            icon="mdi:door"
            title="3. Explore in Your Portal"
            description="Access your secure dashboard to view options, save favorites, and track progress."
          />

          <BenefitCard
            icon="mdi:key"
            title="4. Choose & Move Forward"
            description="Select your favorite and let us handle the rest - from tours to move-in day."
          />
        </div>
      </div>
    </section>

    <section class="bg-soft-light py-20 min-h-screen">
      <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <article class="grid grid-cols-1 lg:grid-cols-2 gap-4">
          <div class="space-y-8">
            <div class="mb-8">
              <span
                class="text-primary font-semibold text-sm uppercase tracking-wider"
                >The brain behind</span
              >
              <h2 class="text-4xl lg:text-5xl font-bold text-obsidian mb-6">
                Meet Paulina Cedeño
              </h2>
            </div>
            <p class="text-lg">
              I've experienced the frustration of traditional Miami rental
              hunting firsthand. Hours wasted scrolling through irrelevant
              listings, endless phone calls, and the stress of making decisions
              from afar. <strong>That’s why I built something better.</strong>
            </p>
            <p class="text-lg">
              <strong class="text-primary"
                >I created a smarter, more personal way to find a rental.</strong
              >Designed for busy professionals who want efficiency without
              sacrificing quality.
            </p>
            <p class="text-lg">
              By combining local market expertise, smart matching systems, and
              real human guidance, I built a process that feels simple,
              intentional, and supportive.
            </p>

            <p class="text-lg">
              For people like you, who value time, want clear answers, and need
              someone who truly gets involved. Here, we don’t send random links.
              We walk with you, filter real options, and guide you step by step.
              The same way I would want someone to do it for me.
            </p>

            <p class="text-lg">
              Many offer “personalized service.” <strong
                >We actually live it</strong
              >, from the first message to the moment you get your keys.
            </p>

            <p class="text-lg font-bold">
              It’s Not Just a Search. It’s the Start of Your Next Chapter
            </p>

            <div
              class="py-4 px-6 bg-primary text-soft rounded-xl shadow flex gap-2 flex-col"
            >
              <q class="font-semibold"
                >Technology should serve people, not the other way around</q
              >
              <em>With love Paulina Cedeño</em>
            </div>
          </div>
          <div class="flex justify-center lg:justify-end">
            <Picture
              class="w-full max-w-[480px] h-auto rounded-xl shadow-2xl shadow-mauve"
              src={Paulina}
              formats={["avif", "webp"]}
              alt="Paulina, Bruschi Rentals Founder"
            />
          </div>
        </article>
      </div>
    </section>

    {/* Testimonials */}
    <section class="py-20 bg-soft-dark">
      <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-16">
          <h2 class="text-3xl md:text-4xl font-bold text-gray-900 mb-4">
            Stories from People Who Found Home
          </h2>
          <p class="text-lg text-gray-600 mx-auto mb-8">
            Don’t just take our word for it. Hear from people who trusted us to
            help them find home .
          </p>
        </div>

        <div class="columns-1 lg:columns-2 xl:columns-3 gap-4 space-y-4">
          {testimonials.map((t) => <TestimonialCard {...t} />)}
        </div>

        <div class="mt-12 text-center">
          <a
            href={`/more-info${search}`}
            class="inline-block px-8 py-4 bg-primary hover:bg-primary/90 text-white font-bold rounded-lg transition-all duration-300 transform hover:scale-105 mr-4 uppercase"
            data-astro-prefetch="load"
          >
            FIND ME A PLACE
          </a>
          <a
            href="https://wa.me/message/F5OFMA5RIRXYJ1"
            target="_blank"
            class="inline-block px-8 py-4 bg-soft-dark hover:bg-soft-dark/90 text-obsidian font-semibold rounded-lg transition-all duration-300 transform hover:scale-105 border border-soft-dark"
          >
            Have Questions? Chat With Us
          </a>
        </div>
      </div>
    </section>
  </PublicLayout>
</Layout>
